services:
  train:
    build:
      context: .
      dockerfile: Dockerfile.train
    container_name: Train
    # Mapear os diretórios de saída para persistência no host
    volumes:
      - ./processed_data:/app/processed_data
      - ./model_outputs:/app/model_outputs
      - ./env:/app/env
    # Permitir acesso à GPU
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    
  test:
    build:
      context: .
      dockerfile: Dockerfile.test
    container_name: Inference
    # Mapear os mesmos diretórios para acessar os dados do treino
    volumes:
      - ./processed_data:/app/processed_data
      - ./model_outputs:/app/model_outputs
      - ./env:/app/env
      - ./resultados_previsoes_por_seed_CNN:/app/resultados_previsoes_por_seed_CNN
    # Permitir acesso à GPU
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]